/* ============ hero image ============*/
.hero-image-1 div {
  background-color: rgba(0, 0, 0, 0.25);
  min-height: inherit;
}
.hero-image-2 div {
  background-color: rgba(0, 0, 0, 0.25);
  min-height: inherit;
}
.hero-image-3 div {
  background-color: rgba(0, 0, 0, 0.25);
  min-height: inherit;
}
/* .carousel {
  min-height: 40vh;
  background-color: rgba(0, 0, 0, 0.25);

  border: 2px solid green;
} */

.carousel div {
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  /* border: 2px solid red; */
}

.hero-image-1 {
  background-image: url('https://placeimg.com/1280/720/animals');
}
.hero-image-2 {
  background-image: url('https://placeimg.com/1280/720/tech');
}
.hero-image-3 {
  background-image: url('https://placeimg.com/1280/720/nature');
}

/* img {
  opacity: 0.5;
  background-color: black;
  width: 100%;
  height: 470px;
} */

.hero-image {
  position: relative;
  min-height: 50vh;
  /* border: 2px solid blue; */
}

.content-front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* border: 2px solid red; */
}

.content-front h2 {
  font-size: 3vh;
  color: #fff;
}
